* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050814;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

.section {
  padding: 120px 8%;
}

h1, h2 {
  font-weight: 600;
}
h1 {
  letter-spacing: -0.03em;
}

h2 {
  letter-spacing: -0.02em;
}

p {
  line-height: 1.7;
}

